<section id="intro">
	<!-- Header -->
	<div class="intro-header">

		<div class="container header-container">

			<div class="row first-row-wrapper">
				<div class="intro-image col-md-4"></div>
				<div class="intro-message col-md-6">
					<h1>{{ .Site.Title }}</h1>
					<h3>{{ .Site.Params.description }}</h3>

					{{ if (isset .Site.Params "github_project_name") }}
					{{ $user := .Site.Params.github_user_name }}
					{{ $repo := .Site.Params.github_project_name }}

                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/devOrchestra/the-scrum-dao" data-size="large" data-show-count="true" aria-label="Star devOrchestra/the-scrum-dao on GitHub">Star</a>
                    {{ end }}

					<hr class="intro-divider">
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
